<div class="container">
  <div class="img-holder">
    <img alt="./assets/img/bible" id="questionImg" src="{{questions[questionNumber].img}}">
  </div>
  <h2>
    {{questions[questionNumber].question}}
  </h2>
  <div class="list-container">
    <div class="list-group">
      <button [disabled]="answered" *ngFor="let answer of questions[questionNumber].answers" type="button" (click)="selectedAnswer(answer)"
              class="list-group-item list-group-item-action">
          <label>{{answer.answer}}</label>
      </button>
    </div>
    <div *ngIf="answered">
      <label id="correct" *ngIf="correct">Correct</label>
      <label id="incorrect" *ngIf="!correct">Incorrect</label>
    </div>
    <div>
      <label id="scripture" *ngIf="answered">{{questions[questionNumber].scripture}}</label>
    </div>
    <div>
      <button *ngIf="answered" class="btn-lg btn-primary" (click)="nextAnswer()">NEXT</button>
    </div>
  </div>
</div>


